<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="card">

        <h2>Welcome Back 👋</h2>

        <input placeholder="Email" formControlName="email" />

        <input type="password" placeholder="Password" formControlName="password" />

        <button type="submit" [disabled]="loading()">
            {{ loading() ? 'Logging in...' : 'Login' }}
        </button>

        <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>

        <p class="link">
            Don't have an account? <a routerLink="/register">Register</a>
        </p>

    </form>
</div>