/* You can add global styles to this file, and also import other style files */
.container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.card {
  width: 340px;
  padding: 30px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

input, select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
}

.error {
  color: red;
  font-size: 13px;
}

.success {
  color: green;
  font-size: 13px;
}

.link {
  text-align: center;
  margin-top: 10px;
}